@use '../../../../../global';
@use '../../../../common/menu';
@use '../../../../../themes/tm';

.node-style-configurer {
  @include menu.context-menu-wrapper;

  height: 275px;
  padding: 0 15px;
  width: 239px;

  @include tm.themeify {
    color: tm.themed('text-color_enhance');
  }
  font: {
    family: global.$global-font-family-medium;
    size: 12px;
  }

  .configurer-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.configurer-area {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;

  .shape {
    cursor: pointer;
    font-size: 22px;
    margin-right: 20px;
    position: relative;
    top: -1px;

    @include tm.themeify {
      color: tm.themed('text-color_tip');
    }

    &.selected {
      @include tm.themeify {
        color: tm.themed('active-color');
      }
    }
  }

  .color-tube {
    display: inline-block;
    height: 18px;
    margin-right: 10px;
    width: 18px;

    &.selected {
      box-shadow: 0 2px 10px 2px hsla(0, 0%, 39%, 0.3);
    }
  }

  .ant-radio-group {
    span {
      font-family: global.$global-font-family;
      font-size: 12px;
    }
  }
}
