registry=http://172.16.1.161:30033/repository/npm-group/

# 某些依赖会不走registry拉取它的依赖，导致速度非常慢，可以用淘宝镜像处理
# 假如发现安装依赖时，安装node-sass或者electron特别慢，可以添加以下行
SASS_BINARY_SITE=https://npm.taobao.org/mirrors/node-sass

_auth=YWRtaW46YWRtaW4xMjM=

email=454519934@qq.com
