.simple-toolbox-area {
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 999;

  &.hideToolBox {
    height: 0;
  }
}

.simple-pipelinetool-display-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}