@use '../../../../../../global';
@use '../../../../../../themes/tm';

@mixin mutation-common {
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;
  height: 12px;
  line-height: 10px;
  margin-right: 5px;
  position: relative;
  text-align: center;
  top: -1px;
  width: 12px;

  @include tm.themeify {
    color: tm.themed('text-color_reverse');
  }
}

.diff-details-assist {
  background-color: transparent;
  color: transparent;
  height: 1px;
  position: fixed;
  width: 1px;
  z-index: global.$medium_z_index + 3;
}

.element-update-overlay.ant-tooltip-placement-right {
  .ant-tooltip-arrow {
    @include tm.themeify {
      border-right-color: tm.themed('component-background');
    }
  }

  .ant-tooltip-inner {
    font-size: 12px;
    min-width: 155px;

    @include tm.themeify {
      color: tm.themed('text-color');
    }

    @include tm.themeify {
      background-color: tm.themed('component-background');
    }
  }
}

.element-updates {
  @include tm.themeify {
    background-color: tm.themed('component-background');
  }
}

.mutations-wrapper {
  padding: 9px 14px;

  .diff-mutation {
    margin-bottom: 5px;

    &.isSpecial {
      padding-bottom: 8px;

      @include tm.themeify {
        border-bottom: 1px solid tm.themed('border-color');
      }
    }

    .mutation-add {
      @include mutation-common;

      @include tm.themeify {
        background-color: tm.themed('success-color');
      }
    }

    .mutation-delete {
      @include mutation-common;

      @include tm.themeify {
        background-color: tm.themed('error-color');
      }
    }

    .mutation-key {
      font-family: global.$global-font-family;

      @include tm.themeify {
        color: tm.themed('text-color_tip');
      }
    }

    .mutation-value {
      font-family: global.$global-font-family-medium;
      font-size: 12px;

      @include tm.themeify {
        color: tm.themed('text-color');
      }
    }

    .deleted-marker {
      text-decoration: line-through;
    }

    .old-to-new {
      .old-to-new-arrow {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

.mutated-special {
  margin-bottom: 10px;

  @include tm.themeify {
    border-bottom: 1px solid tm.themed('border-color');
  }

  &-title {
    @include tm.themeify {
      color: tm.themed('text-color_tip');
    }
  }
}

.mutation-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;

  .mutation-tag {
    border-radius: 3px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 8px;

    @include tm.themeify {
      background-color: tm.themed('warning-color');
      color: tm.themed('text-color_reverse');
    }
  }
}
