@use '../../../themes/tm';

.tab-in-more-btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 21px;
  margin-bottom: 8px;
  padding: 5px 10px;

  span {
    font-size: 16px;

    @include tm.themeify {
      color: tm.themed('text-color_enhance');
    }

    &.tab-name {
      margin-left: 10px;
    }

    &.cross {
      cursor: pointer;
      margin-left: 10px;
      position: relative;
      top: -1px;
      transform: rotate(45deg);

      &:hover {
        font-size: 20px;
      }
    }
  }
}
