@use '../../../../global';
@use '../../../../themes/tm';

.layout-section2-widgets {
  align-items: center;
  display: flex;
  padding: 0;

  .layout-section-widget {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 21px;
    position: relative;
    top: 4px;
    width: 50px;

    img {
      display: block;
      height: 22px;
      width: 39px;
    }

    span {
      font-family: global.$global-font-family;
      font-size: 12px;
      transform: scale(0.875);

      @include tm.themeify {
        color: tm.themed('text-color_tip');
      }
    }
  }
}
