@font-face {
  font-family: sophone-font;
  src: url('./sophone/PingFang SC Regular.ttf') format('truetype');
}

@font-face {
  font-family: sophone-font-light;
  src: url('./sophone/PingFang SC Light.ttf') format('truetype');
}

@font-face {
  font-family: sophone-font-thin;
  src: url('./sophone/PingFang SC Thin.ttf') format('truetype');
}

@font-face {
  font-family: sophone-font-medium;
  src: url('./sophone/PingFang SC Medium.ttf') format('truetype');
}

@font-face {
  font-family: sophone-font-bold;
  src: url('./sophone/PingFang SC Bold.ttf') format('truetype');
}
