@use '../../../../../../themes/tm';

.diff-legend {
  display: flex;
  left: 50%;
  position: absolute;
  top: 54px;
  transform: translateX(-50%);

  .diff-legend-item {
    align-items: center;
    display: flex;
    font-size: 10px;
    margin: 0 25px;
    user-select: none;

    @include tm.themeify {
      color: tm.themed('text-color');
    }

    .legend-icon {
      border-radius: 50%;
      display: inline-block;
      height: 15px;
      margin-right: 6px;
      width: 15px;

      &.added {
        @include tm.themeify {
          background-color: tm.themed('success-color');
        }
      }

      &.edited {
        @include tm.themeify {
          background-color: tm.themed('warning-color');
        }
      }

      &.deleted {
        @include tm.themeify {
          background-color: tm.themed('error-color');
        }
      }
    }
  }
}
