@use '../../../../../../../global.scss';
@use '../../../../../../../themes/tm';

.diff-details-wrapper {
  .update-title {
    margin-right: 10px;
  }

  .part-div { // 包含所有节点或者边的容器
    margin-left: 15px;
    margin-right: 15px;

    @include tm.themeify {
      border-bottom: 1px solid tm.themed('border-color');
    }
  }
}
