@use '../../../../../global';
@use '../../../../../themes/tm';

.context-modal-wrapper {
  border-radius: 2px;
  box-shadow: 0 5px 15px 0 rgba(42, 112, 186, 0.15);
  max-width: 600px;
  min-width: 300px;
  position: fixed;
  z-index: global.$max_z_index;

  @include tm.themeify {
    background: tm.themed('component-background');
  }

  .select {
    height: 35px;
    width: 140px !important;
  }

  .context-modal-header {
    align-items: center;
    border-radius: 2px 2px 0 0;
    display: flex;
    height: 37px;
    padding: 0 15px;

    @include tm.themeify {
      background-color: tm.themed('layout-background');
    }
  }

  .context-modal-content {
    padding: 10px 15px;
  }

  .context-modal-footer {
    padding: 10px 15px 30px;
    text-align: right;

    .cancel {
      margin-right: 10px;
    }
  }
}
