@use '../../../../../../../../global.scss';
@use '../../../../../../../../themes/tm';

.diff-entity {
  cursor: pointer;
  font-family: global.$global-font-family;
  font-size: 12px;
  margin-bottom: 10px;

  @include tm.themeify {
    color: tm.themed('text-color');
  }

  span {
    margin-right: 10px;
  }
}
