@use '../colors.scss';

$theme: (
  white-color: colors.$white,
  black-color: colors.$black,
  success-color: colors.$green,
  error-color: colors.$red,
  warning-color: colors.$orange1,
  disabled-color: colors.$gray13,
  disabled-background: colors.$gray12,
  active-color: colors.$blue,
  layout-background: colors.$black4,
  placeholder-background: colors.$black4,
  component-background: colors.$black3,
  component-background_enhance: colors.$black5,
  layout-background_dark_reverse: colors.$black3,  // 深色主题反色的布局背景色
  component-background_dark_reverse: colors.$black4,  // 深色主题反色的背景背景色
  header-background: colors.$gray9,
  item-background_even: colors.$gray11,
  item-background_odd: colors.$black4,
  item-background_active: colors.$gray10,
  item-background_selected: colors.$blue,
  border-color: colors.$green3,
  border-color_light: colors.$green4,
  scroll-bar-background: colors.$gray9,
  scroll-background: rgba(60, 65, 87, 0.3),
  list-item-background: colors.$gray14,
  text-color: colors.$gray7,
  text-color_enhance: colors.$white,
  text-color_tip: colors.$gray8,
  text-color_reverse: colors.$white,
  box-shadow1: 0 2px 10px 0 #1A1D24,
  box-shadow2: linear-gradient(to bottom, rgba(36, 41, 51, 1), rgba(36, 41, 51, 0.1)),
  nav-bar-item-color: colors.$gray7,
  pipeline-terminus-widget-background: colors.$green1,
  pipeline-grid-line: colors.$gray15,
  pipeline-svg-background: colors.$black4,
  pipeline-canvas-common-color: colors.$green6,
  pipeline-widget-rectangle-background: colors.$green8,
  base-new-panel-sider-background: colors.$black3,
  base-new-panel-content-background: colors.$black5,
);
