@use '../colors.scss';

$theme: (
  white-color: colors.$white,
  black-color: colors.$black,
  success-color: colors.$green,
  error-color: colors.$red,
  warning-color: colors.$orange,
  disabled-color: colors.$black2,
  disabled-background: colors.$black1,
  active-color: colors.$blue,
  layout-background: colors.$gray,
  placeholder-background: colors.$gray,
  component-background: colors.$white,
  component-background_enhance: colors.$blue4,
  layout-background_dark_reverse: colors.$gray,  // 深色主题反色的布局背景色，默认主题不变
  component-background_dark_reverse: colors.$white,  // 深色主题反色的背景背景色，默认主题不变
  header-background: colors.$blue3,
  item-background_even: colors.$blue1,
  item-background_odd: colors.$white,
  item-background_active: colors.$blue2,
  item-background_selected: colors.$blue,
  border-color: colors.$gray1,
  border-color_light: colors.$gray5,
  scroll-bar-background: colors.$gray6,
  list-item-background: colors.$blue6,
  text-color: colors.$gray2,
  text-color_enhance: colors.$gray3,
  text-color_tip: colors.$gray4,
  text-color_reverse: colors.$white,
  box-shadow1: 0 2px 10px 0 rgba(63, 63, 63, 0.19),
  box-shadow2: linear-gradient(to bottom, rgba(240, 240, 240, 1), rgba(240, 240, 240, 0.1)),
  nav-bar-item-color: colors.$blue5,
  pipeline-terminus-widget-background: colors.$green1,
  pipeline-grid-line: colors.$green2,
  pipeline-svg-background: colors.$white,
  pipeline-canvas-common-color: colors.$green5,
  pipeline-widget-rectangle-background: colors.$green7,
  base-new-panel-sider-background: colors.$gray,
  base-new-panel-content-background: colors.$white,
);
